*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.task-list{
    margin-top: 20px;
}

.task-list .task{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #ccc;
}

.task-list .task .task-title{
    font-size: 18px;
}

